In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder, OrdinalEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

df = pd.read_csv('dataset.csv')

#drop columns ids
df.drop('id', axis=1, inplace=True)
df.describe(include='all')

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
count,43400,43400.000000,43400.000000,43400.000000,43400,43400,43400,43400.000000,41938.000000,30108,43400.000000
unique,3,NaN,NaN,NaN,2,5,2,NaN,NaN,3,NaN
top,Female,NaN,NaN,NaN,Yes,Private,Urban,NaN,NaN,never smoked,NaN
freq,25665,NaN,NaN,NaN,27938,24834,21756,NaN,NaN,16053,NaN
mean,NaN,42.217894,0.093571,0.047512,NaN,NaN,NaN,104.482750,28.605038,NaN,0.018041
std,NaN,22.519649,0.291235,0.212733,NaN,NaN,NaN,43.111751,7.770020,NaN,0.133103
min,NaN,0.080000,0.000000,0.000000,NaN,NaN,NaN,55.000000,10.100000,NaN,0.000000
25%,NaN,24.000000,0.000000,0.000000,NaN,NaN,NaN,77.540000,23.200000,NaN,0.000000
50%,NaN,44.000000,0.000000,0.000000,NaN,NaN,NaN,91.580000,27.700000,NaN,0.000000
75%,NaN,60.000000,0.000000,0.000000,NaN,NaN,NaN,112.070000,32.900000,NaN,0.000000
max,NaN,82.000000,1.000000,1.000000,NaN,NaN,NaN,291.050000,97.600000,NaN,1.000000

In [9]:

#split data: training/test sets
x = df.drop('stroke', axis=1)
y = df['stroke']

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=42,stratify=y)

#feature types
numerical_features = ['age', 'bmi', 'avg_glucose_level']
categorcial_features = ['gender','ever_married','work_type','Residence_type']
ordinal_features = ['smoking_status']
binary_features = ['hypertension', 'heart_disease']

In [ ]:
# order of ordinal features to apply ordinal encoder
smoking_order=['never smoked','formerly smoked', 'smokes']

#create pipelines for each feature type

# imputer with median to treat bmi missing values
# scaler so every feature has the same scale
numeric_pipeline = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median')),
    # add scaler
])

# missing values will have the most frequent value
# one hot encoder will transform categories into numbers
categorical_pipeline = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore', sparse_output=False))
])

# missing values will have the most frequent value
ordinal_pipeline = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy="most_frequent")),
    ('ordinal', OrdinalEncoder(categories=[smoking_order], handle_unknown='use_encoded_value',unknown_value=-1))
])

# combine the pipelines
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_pipeline, numerical_features),
        ('cat', categorical_pipeline, categorcial_features),
        ('ord', ordinal_pipeline, ordinal_features),
        ('bin', 'passthrough', binary_features)
    ],
    remainder='drop'
)

Formato original de x_train: (34720, 10)
Formato de x_train processado: (34720, 18)
Formato original de x_test: (8680, 10)
Formato de x_test processado: (8680, 18)